body
{
    /* Including the font here will make all the sub elements inherit the property */
    /* font-family: 'Raleway', sans-serif; */
    background: rgb(30, 30, 30);
    color: white;
}

a
{
    color: yellow;
}

a:hover
{
    color: coral;
}

a:visited
{
    color: coral;
}

img
{
    box-shadow: 5px 5px 5px #888888;
    max-width: 75%;
}

.fig
{
    /* font-family: 'Raleway', sans-serif; */
    height: 256px;
    float: left;
}

figcaption
{
    margin-top: 8px;
}

.clear
{
    clear: both;
}

h1
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-decoration: underline;
}

#toTheTop
{
    top: 90%;
    left: 90%;
    /* bottom: 50%; */
    position: fixed;
}