body
{
    font-family: 'Raleway', sans-serif;
    background: rgb(50, 50, 50);
    color: white;
    margin: 20px auto;
    max-width: 700px;
}

a
{
    color: #F2CF08;
}

a:hover
{
    color: coral;
}

a:visited
{
    color: coral;
}

img
{
    box-shadow: 5px 5px 5px #888888;
    max-width: 95%;
}

.fig
{
    float: left;
    margin: 5px;
    height: 200px;
    width: 30%;
}

figcaption
{
    margin-top: 8px;
}

.clear
{
    clear: both;
}

h1
{
    text-align: center;
    text-decoration: underline;
}
h2
{
    letter-spacing: 0.07rem;
}

#toTheTop
{
    top: 92%;
    left: 92%;
    position: fixed;
    font-size: 80%;
}

.content
{
    text-align: justify;
    font-size: 85%;
    letter-spacing: 0.04rem;
}

hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(230, 220, 220, 0), rgba(230, 230, 230, 0.75), rgba(230, 230, 230, 0));
}

.grade
{
    font-weight: bold;
    letter-spacing: 0.12rem;
}

#nextPage
{
    position: absolute;
    right: 0;
}

.navigation
{
    position: relative;
    font-size: 80%;
}