.topPadding
{
    padding-top: 20px;
}

.bottomPadding
{
    padding-bottom: 20px;
}

#body-override
{
    background: rgb(50, 50, 50);
    color: rgb(222, 222, 222);
    background-color: rgb(45, 45, 45);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.06rem;
    font-size: 14px;
}

.thumbnail-override
{
    border: none;
    background-color: rgb(45, 45, 45);
}

.a-override
{
    color: rgb(202, 173, 5);
    text-decoration: underline;
    font-weight: 550;
}

.a-override:hover
{
    color: coral;
}

.flex 
{
  display: flex;
  flex-wrap: wrap;
}

.img-override
{
    box-shadow: 5px 5px 5px #3d3d3d;
}

hr
{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(230, 220, 220, 0), rgba(230, 230, 230, 0.75), rgba(230, 230, 230, 0));
}

.grade
{
    font-weight: bold;
    letter-spacing: 0.12rem;
}

.container-override
{
    border: rgb(130, 130, 130) 1px solid;
}

.content
{
    text-align: justify;
}

.heading-color
{
    color:wheat;
}

.date
{
    color: #dd7700; 
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}