.db {
  background-image: url(./bf4/images/thumbnails/baseMaps/dawnbreaker_th.jpg);
}

.fz {
  background-image: url(./images/thumbnails/baseMaps/flood_zone_th.jpg);
}

.gm {
  background-image: (./images/thumbnails/baseMaps/golmud_railway_th.jpg);
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

/*.fig
{
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
}*/

figcaption
{
    margin-top: 8px;
}

#imgsize
{    
    max-height: 196px;
    max-width: 350px;
}


#body-override
{
    font-family: 'Raleway', sans-serif;
    background: rgb(50, 50, 50);
    color: white;
    /* max-width: 700px; */
    border: rgb(134, 134, 132) 2px solid;
}

/* body
{
    font-family: 'Raleway', sans-serif;
    background: rgb(50, 50, 50);
    color: white;
    
    max-width: 700px;
    border: rgb(134, 134, 132) 2px solid;
}

a
{
    color: #F2CF08;
    text-decoration: none;
}

a:hover
{
    color: coral;
}

a:visited
{
    color: coral;
}

img
{
    box-shadow: 5px 5px 5px #888888;
    max-width: 95%;
}

.fig
{
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

figcaption
{
    margin-top: 8px;
}

.clear
{
    clear: both;
}

h1
{
    text-align: center;
    text-decoration: underline;
}
h2
{
    letter-spacing: 0.07rem;
}

#toTheTop
{
    top: 92%;
    left: 92%;
    position: fixed;
    font-size: 80%;
}

.content
{
    text-align: justify;
    font-size: 85%;
    letter-spacing: 0.04rem;
}

hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(230, 220, 220, 0), rgba(230, 230, 230, 0.75), rgba(230, 230, 230, 0));
}

.grade
{
    font-weight: bold;
    letter-spacing: 0.12rem;
}

#nextPage
{
    position: absolute;
    right: 0;
}

.navigation
{
    text-transform: uppercase;
    position: relative;
    font-size: 80%;
}

.date
{
    color: #dd7700; 
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  } */